#banner {
  max-width: 1440px;
  height: 400px;
  margin: 0 auto;
  background-position: center;
  background: #f2f398;

  img {
    width: 100%;
    height: 100%;

    background-size: contain;
  }
}
